@import 'sanitize.sass'


//
// Variables
//
// Should sync to consts.STYLES
//
$app-background-color: #ffffff
$app-color: #000000
//$app-height: 100%
//$app-width: 100%
$app-width-scroll-bar: 20px
$icon-height: 32px
$icon-width: 32px
$z-index-app: 0
$z-index-canvas-page-1: 1
$z-index-canvas-page-2: 2


//
// Development Mode
//
body.is-development
  background-color: #cccccc


//
// Fonts
//
@font-face
  font-family: 'Material Icons'
  src: url('materials/material-design-icons/MaterialIcons-Regular.woff2') format('woff2')


//
// Reset
//
.js-mt-container
  *
    -webkit-tap-highlight-color: transparent

  ul, ol
    list-style-type: none


//
// Root
//
.js-mt-container

  .root
    margin: 0 auto
    position: relative
    // Set the screen size according from the browser's viewport dynamically
    //width: $app-width
    //height: $app-height
    z-index: $z-index-app
    background-color: $app-background-color

    .root__page-container
      position: absolute
      width: 100%
      height: 100%
      overflow: hidden

  // From) http://google.github.io/material-design-icons/
  .material-icons
    font-family: 'Material Icons'
    font-weight: normal
    font-style: normal
    font-size: 48px;
    display: inline-block
    line-height: 1
    text-transform: none
    letter-spacing: normal
    word-wrap: normal
    white-space: nowrap
    direction: ltr
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';


//
// Independent Components
//
.js-mt-container

  .canvas-board
    width: 100%
    height: 100%

  .toolbox
    position: absolute
    width: 100%
    height: 88px
    bottom: 0
    z-index: $z-index-canvas-page-1
    overflow: scroll
    overflow-y: hidden
    background-color: rgba(64, 64, 64, 0.5)

    &.toolbox--is-on-top
      top: 0

      .toolbox__tool-buttons
        margin-top: 24px

    &__tool-buttons
      display: flex
      flex-wrap: wrap
      justify-content: flex-start
      align-items: center
      // TODO: I want to enable scroll-x if the total of children's width is over its parent's width
      width: 250%
      height: 64px
      overflow: hidden

      .tool-button
        margin-left: 8px
        width: 48px
        height: 48px
        border-radius: 4px
        background-color: #666666
        color: #ffffff
        cursor: pointer

        &.is-active
          color: #ffa500


//
// Tools
//
.js-mt-container

  @mixin tool-button-base()
    width: 48px
    height: 48px
    line-height: 48px
    font-size: 16px
    text-align: center
    color: black
    background-color: yellow
    cursor: pointer

  @mixin tool-base()
    position: absolute;
    width: 0
    height: 0
    z-index: $z-index-canvas-page-2

  @mixin tool-position($vertical-layout, $horizontal-layout)
    $vertical-margin: 96px
    @if $vertical-layout == "top" { top: $vertical-margin }
    @if $vertical-layout == "middle" { top: 50% }
    @if $vertical-layout == "bottom" { bottom: $vertical-margin }

    @if $horizontal-layout == "left" { left: 0 }
    @if $horizontal-layout == "middle" { left: 50% }
    @if $horizontal-layout == "right" { right: 0 }

    $layout-id: $vertical-layout + "-" + $horizontal-layout
    @if $vertical-layout == "middle" { transform: translate(0, -50%) }
    @if $horizontal-layout == "middle" { transform: translate(-50%, 0) }
    @if $layout-id == "middle-middle" { transform: translate(-50%, -50%) }

  .spinner-tool
    @include tool-base()
    display: flex
    flex-direction: column
    width: 48px
    height: 48px + 24px + 48px
    @include tool-position("bottom", "middle")

    &.spinner-tool--is-on-top
      @include tool-position("top", "middle")

    .plus-button
      @include tool-button-base()

    .value
      width: 100%;
      height: 24px
      line-height: 24px
      font-size: 16px
      text-align: center;
      background-color: silver

    .minus-button
      @include tool-button-base()


//
// Pages
//
.js-mt-container

  @mixin page-base()
    position: absolute
    width: 100%
    height: 100%
    font-size: 15px
    color: $app-color
    background-color: $app-background-color

  .canvas-page
    @include page-base()

    .canvas-page__canvas-board-container
      position: absolute
      width: 100%
      height: 100%
